body {
  margin: 0;
}

// Height to test the sticky navbar and margin for size of navbar when expanded/collapsed
main {
  //height: 1000px;
  //margin-top: 48px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.surname {
  font-size: 64px;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .surname {
    font-size: 45px;
  }
}

// Remove top margin when the screen is less than 600 pixels
/*@media screen and (max-width: 600px) {
  main {
    margin-top: 0;
  }
}*/
